@model Training_Management_System.Models.LoginPageModel
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script>

    function myFunction() {
        var x = document.getElementById("confirmPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

</script>
</head>

<body>
    <img src="~/Scripts/UserImages/communitybrands_logo.png" style="width : 22%;padding:20px 7px 2px 20px " />

    <br /><br />
    <div class="container">

        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">

            <div class="card-body">
                <div class="container">
                    <div style="margin-left:30%; margin-top:5%">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <fieldset>

                                <h1>Change Password</h1>
                                <br /><br /><br />
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="changePassword">
                                                New @Html.LabelFor(Model => Model.Password)
                                            </div>
                                        </div>
                                        <div class="col-md-5">

                                            <div class="changePassword">
                                                @Html.EditorFor(Model => Model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter New Password", @id = "newPassword",@required="required" } })
                                                @Html.ValidationMessageFor(Model => Model.Password)
                                            </div>

                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="changePassword">
                                                Confirm Password
                                            </div>
                                        </div>
                                        <div class="col-md-5">

                                            <div class="changePassword">
                                                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="Re-Enter Password" required />
                                            </div>
                                            <input type="checkbox" onclick="myFunction()">Show Password
                                        </div>
                                        
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-3">

                                    </div>
                                    <div class="col-md-5">
                                        <p>
                                            <input type="submit" id="btnConfirm" value="Confirm" class="btn btn-primary btn-md" style=" width:110px; margin-left:177px;">
                                        </p>
                                    </div>
                                </div>


                            </fieldset>


                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</body>
<script type="text/javascript">
    $(function () {
        $("#btnConfirm").click(function () {
            var newpassword = $("#newPassword").val();
            var confirmPassword = $("#confirmPassword").val();

            if (newpassword != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            else {
                return true;
            }

        });
    });
    function myFunction() {
        var x = document.getElementById("confirmPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }



</script>


