
@model Training_Management_System.Models.LoginPageModel
@{
    ViewBag.Title = "Profiles";
    training_management_systemEntities entities = new training_management_systemEntities();
    List<manager> items = entities.managers.ToList();
    var name = " ";
    var id = 0;
    var lst = new List<SelectListItem>();

    foreach (var i in items)
    {
        id = i.manager_id;
        name = i.manager_name;
        lst.Add(new SelectListItem { Text = name, Value = id.ToString() });
    }

    ViewBag.data = lst;
    Layout = null;
}

<head>
    <style>
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
    <img src="~/Scripts/UserImages/communitybrands_logo.png" style="width : 22%;padding:20px 7px 2px 20px " />

    <br /><br />
    <div class="container">
        <div style="margin-left:25%">
            <h2>Profile</h2>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="Profile">
                                    @Html.LabelFor(Model => Model.Title, new { htmlAttributes = new { @class = "control-label" } })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="Profile">

                                    @Html.DropDownListFor(model => model.Title, new List<SelectListItem>
                                   { new SelectListItem{Text="Mr.", Value="Mr.",Selected =true },
                                     new SelectListItem{Text="Ms", Value="Ms"}}, new { htmlAttributes = new { @class = "form-control",@required="required" } })
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="Profile">
                                    @Html.LabelFor(Model => Model.FullName, new { htmlAttributes = new { @class = "control-label" } })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="Profile">
                                    @Html.EditorFor(Model => Model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Full Name",@required="required" } })
                                    @Html.ValidationMessageFor(Model => Model.FullName)

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="Profile">
                                    @Html.LabelFor(Model => Model.Department)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="Profile">

                                    @Html.DropDownListFor(model => model.Department, new List<SelectListItem>
                                   { new SelectListItem{Text="R&D", Value="R&D",Selected =true },
                                   new SelectListItem{Text="HR", Value="HR" },
                                     new SelectListItem{Text="Client Services", Value="Client Services"}}, new { htmlAttributes = new { @class = "form-control",@required="required" } })
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="Profile">
                                    @Html.LabelFor(model => model.Date_Of_Joining)<br><br>
                                </div>
                            </div>
                            <div class="col-md-4">

                                @Html.EditorFor(model => model.Date_Of_Joining, new { htmlAttributes = new { @class = "form-control",@required="required" } })
                                @Html.ValidationMessageFor(model => model.Date_Of_Joining, "", new { @class = "text-danger" })
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="Profile">
                                    @Html.LabelFor(model => model.ManagerId)<br><br>
                                </div>
                            </div>
                            <div class="col-md-4">

                                @Html.DropDownList("ManagerId", ViewBag.data as List<SelectListItem>, new { htmlAttributes = new { @class = "dropdown",@required="required" } })


                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-3">
                            <p>
                                <input type="submit" value="Save" class="btn btn-primary btn-md" style=" width:116px">
                            </p>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>

</body>


